In [23]:
import pandas as pd

df = pd.read_csv("../data/processed/youtube_combined_data.csv")

In [24]:
df.sample(10)

,video_id,title,topic,category_id,published_at,duration_seconds,video_definition,captions_flag,channel_id,channel_title,subscriber_count,total_videos,channel_age_days,views,likes,comments
11672,NbDgfOTsHDA,"The Greatest Showman | ""Come Alive"" (BEGINNER ...",Hobby,26,2019-03-22T18:16:06Z,1649,hd,False,UCLp4feVX5jrcFUHxro7e-TA,Beginner Dance Tutorials,239000,518,2524,205528,1723,71
21553,D4NOc0xreXY,Arc Raiders - How to Get FULL Level 3 Workshop...,Action-adventure game,20,2025-11-04T00:00:13Z,1124,hd,False,UC2nMSE3t71qC8sG06WSJnMg,RageGamingVideos,1370000,11448,5566,163514,5527,414
48599,O-vwdPK_HTk,Rural African Village Market in Africa Ghana K...,Food,24,2025-07-05T14:16:02Z,2000,sd,False,UCgIH2SQRCuK70h8HzZTVkWw,I am Ama,9310,585,1556,29097,196,22
30585,Gb6RK32q4Qg,"Win The Morning, WIN THE DAY! Listen Every Day...",Unknown,27,2023-02-20T14:00:08Z,3643,hd,False,UC8PICQUP0a_HsrA9S4IIgWw,Motivation2Study,4610000,820,3173,4473121,65668,1537
11060,JMWpHPnU57M,study vlog üìì VERY productive days in my life p...,Lifestyle (sociology),22,2025-08-03T13:06:19Z,817,hd,False,UCz9F9eEkt2KcLXZt--M6vjA,Breanna Quan,1250000,283,3080,275421,10856,264
33168,LTd-EJVlz6o,Cover Songs Sinhala | Top 10 Unity Band Live P...,Music,24,2023-12-12T10:00:08Z,1612,hd,False,UCmo2mmgYL2tIqOnAd5_2jrg,Top 10,48900,139,796,1192412,7046,135
18559,F0b5h_Yx8hI,David Beckham Fashion Style 2017-2018,Fashion,24,2017-07-29T04:47:09Z,712,hd,False,UCY4LbXMycLAgpuSlvonphjQ,Ini Unik,21900,47,4239,118216,752,14
34697,3Rf0dIk_Eec,8 Minutes of Baby Animals: Pure Joy and Cutene...,Entertainment,24,2025-07-02T14:00:07Z,508,hd,False,UCDPk9MG2RexnOMGTD-YnSnA,Nat Geo Animals,6150000,4130,6621,1268006,16659,230
10652,drHj7Nc7RwQ,DAILY VLOG| M·ªôt ng√†y ƒëi h·ªçc c·ªßa sinh vi√™n FTU ...,Lifestyle (sociology),22,2025-11-08T14:21:46Z,1335,hd,False,UCWR1CNncBEhSuMioK8cTwJA,Thuyn,13500,32,3216,3968,191,23
31305,hRvDE0D3K8g,"YANGON To TaungdwinGyi, PYAY Road. Motorcycle ...",Lifestyle (sociology),19,2023-08-14T11:16:08Z,1711,hd,False,UCba1VVQN8MZ_x3S2i8_DfJg,Globel Trip,885,80,4462,12115,330,17

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50160 entries, 0 to 50159
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   video_id          50160 non-null  object
 1   title             50160 non-null  object
 2   topic             50160 non-null  object
 3   category_id       50160 non-null  int64
 4   published_at      50160 non-null  object
 5   duration_seconds  50160 non-null  int64
 6   video_definition  50160 non-null  object
 7   captions_flag     50160 non-null  bool
 8   channel_id        50160 non-null  object
 9   channel_title     50160 non-null  object
 10  subscriber_count  50160 non-null  int64
 11  total_videos      50160 non-null  int64
 12  channel_age_days  50160 non-null  int64
 13  views             50160 non-null  int64
 14  likes             50160 non-null  int64
 15  comments          50160 non-null  int64
dtypes: bool(1), int64(8), object(7)
memory usage: 5.8+ MB

In [26]:
df.describe()

,category_id,duration_seconds,subscriber_count,total_videos,channel_age_days,views,likes,comments
count,50160.000000,50160.000000,5.016000e+04,50160.000000,50160.000000,5.016000e+04,5.016000e+04,50160.000000
mean,22.571531,2422.810825,2.977674e+06,5172.923405,3236.794597,2.709607e+06,3.010090e+04,1119.361643
std,6.164992,6201.971156,1.061033e+07,28809.301109,1826.909349,3.278482e+07,1.861561e+05,6548.073127
min,1.000000,240.000000,0.000000e+00,1.000000,3.000000,1.000000e+03,0.000000e+00,0.000000
25%,22.000000,630.000000,5.350000e+04,213.000000,1809.000000,2.033125e+04,4.250000e+02,29.000000
50%,24.000000,1199.000000,3.230000e+05,565.000000,3121.000000,1.385370e+05,2.630000e+03,141.000000
75%,27.000000,1990.000000,1.580000e+06,1505.000000,4581.000000,8.132555e+05,1.387225e+04,596.000000
max,29.000000,367231.000000,4.500000e+08,643411.000000,7446.000000,3.580474e+09,1.299725e+07,550394.000000

In [27]:
df.isnull().sum()

video_id            0
title               0
topic               0
category_id         0
published_at        0
duration_seconds    0
video_definition    0
captions_flag       0
channel_id          0
channel_title       0
subscriber_count    0
total_videos        0
channel_age_days    0
views               0
likes               0
comments            0
dtype: int64

In [28]:
df.duplicated().sum()

np.int64(90)